# Byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]
*.pyc
*$py.class

# Text Files
*.txt

# Word cloud images
src/pyqt/*.png

# VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
scraped.csv
word_count.csv
word_negative.csv
word_positive.csv
word_neutral.csv

# Scrapy stuff:
.scrapy

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv
env/
venv/

# Datasets
src/datasets/*
!src/datasets/README.md 